</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
<!-- END MAIN AREA -->
</table>
<!-- END CENTERED WHITE CONTAINER -->

<!-- START FOOTER -->
<div class="footer">
<table
role="presentation"
border="0"
cellpadding="0"
cellspacing="0"
>
<tbody>
<tr>
<td class="content-block">
<span class="apple-link"
>Shapet Induction Company, 123 Nowhere Road, Gondal Road
99999</span
>
<br />
Don't like these emails? <a href="#">Unsubscribe</a>
</td>
</tr>
</tbody>
</table>
</div>
<!-- END FOOTER -->
</div>
</td>
</tr>
</tbody>
</table>
</body>
</html>